asgiref==3.4.1
async-timeout==4.0.2
bootstrap4==0.1.0
certifi==2021.5.30
Deprecated==1.2.13
dj-database-url==1.0.0
Django==3.2.16
django-environ==0.9.0
django-redis==5.2.0
gunicorn==20.1.0
importlib-metadata==4.8.3
packaging==21.3
psycopg2-binary==2.9.4
PyMySQL==1.0.2
pyparsing==3.0.9
pytz==2022.4
redis==4.3.4
sqlparse==0.4.3
typing_extensions==4.1.1
whitenoise==5.3.0
wincertstore==0.2
wrapt==1.14.1
zipp==3.6.0

